* {
    box-sizing: border-box;
}
body {
    background-image: url(assets/tebigat.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}

.date-time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.date-time p {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(7px);
    padding: 15px 20px;
    margin-top: 0px;
    width: 80%;
    text-align: center;
    border-radius:20px;
}

.tasks-container {
    width: 80%;
    margin: 10px auto;
    backdrop-filter: blur(7px);
    text-align: center;
    padding: 20px;
    border-radius:20px;
}

.tasks-container h1 {
    color: white;
}

#taskTxt {
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 300px;
}

.btn-add {
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: rgb(50, 160, 50);
    color: white;
    cursor: pointer;
    font-family: monospace;
    transition: background-color 0.5s ease;
}

.btn-add:hover {
    background-color: rgb(50, 220, 50);
}

.tasks-container ul {
    list-style: none;
    padding: 0;
}

.task-content {
    display: flex;
    background-color: lightgreen;
    padding: 5px;
    border: 1px solid green;
    transition: background-color 0.5s ease;
}

.task-content:hover {
    background-color: rgb(0, 250, 0);
}

.task-description {
    width: 50%;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}

.controllers {
    width: 50%;
    text-align: right;
}

#task-detail{
    color:white;
    font-size:18px;
}

.completed-tasks h2{
    color:white;
}

.completed-tasks ul li{
    background-color:lightgreen;
    border:1px solid green;
    padding:7px;
}

.btn {
    font-family: monospace;
    margin-left: 5px;
    border: none;
    width: 85px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: dodgerblue;
    color: white;
}

.btn:disabled {
    background-color: gray !important;
    cursor: not-allowed;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: white;
    backdrop-filter: blur(7px);
}


